<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metals.mapper.WjOrderMapper" >
  <resultMap id="BaseResultMap" type="com.metals.pojo.WjOrder" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="uId" property="uid" jdbcType="INTEGER" />
    <result column="aId" property="aid" jdbcType="INTEGER" />
    <result column="payment" property="payment" jdbcType="DECIMAL" />
    <result column="post_fee" property="postFee" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="distribution_time" property="distributionTime" jdbcType="TIMESTAMP" />
    <result column="deliver_time" property="deliverTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="shipping_name" property="shippingName" jdbcType="VARCHAR" />
    <result column="shipping_code" property="shippingCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, uId, aId, payment, post_fee, status, create_time, update_time, distribution_time, 
    deliver_time, receive_time, shipping_name, shipping_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metals.pojo.WjOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wj_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wj_order
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryAmountKey" resultType="java.lang.Double" parameterType="java.lang.Integer" >
		SELECT SUM(payment) FROM wj_order WHERE uid=#{id,jdbcType=INTEGER};
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wj_order
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.metals.pojo.WjOrderExample" >
    delete from wj_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metals.pojo.WjOrder" >
    insert into wj_order (Id, uId, aId, 
      payment, post_fee, status, 
      create_time, update_time, distribution_time, 
      deliver_time, receive_time, shipping_name, 
      shipping_code)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, 
      #{payment,jdbcType=DECIMAL}, #{postFee,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{distributionTime,jdbcType=TIMESTAMP}, 
      #{deliverTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, #{shippingName,jdbcType=VARCHAR}, 
      #{shippingCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.metals.pojo.WjOrder" >
    insert into wj_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="uid != null" >
        uId,
      </if>
      <if test="aid != null" >
        aId,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="postFee != null" >
        post_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="distributionTime != null" >
        distribution_time,
      </if>
      <if test="deliverTime != null" >
        deliver_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="shippingName != null" >
        shipping_name,
      </if>
      <if test="shippingCode != null" >
        shipping_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributionTime != null" >
        #{distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null" >
        #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingName != null" >
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null" >
        #{shippingCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metals.pojo.WjOrderExample" resultType="java.lang.Integer" >
    select count(*) from wj_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wj_order
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uId = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.aid != null" >
        aId = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=DECIMAL},
      </if>
      <if test="record.postFee != null" >
        post_fee = #{record.postFee,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.distributionTime != null" >
        distribution_time = #{record.distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliverTime != null" >
        deliver_time = #{record.deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receiveTime != null" >
        receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shippingName != null" >
        shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingCode != null" >
        shipping_code = #{record.shippingCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wj_order
    set Id = #{record.id,jdbcType=VARCHAR},
      uId = #{record.uid,jdbcType=INTEGER},
      aId = #{record.aid,jdbcType=INTEGER},
      payment = #{record.payment,jdbcType=DECIMAL},
      post_fee = #{record.postFee,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      distribution_time = #{record.distributionTime,jdbcType=TIMESTAMP},
      deliver_time = #{record.deliverTime,jdbcType=TIMESTAMP},
      receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      shipping_code = #{record.shippingCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metals.pojo.WjOrder" >
    update wj_order
    <set >
      <if test="uid != null" >
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        aId = #{aid,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="postFee != null" >
        post_fee = #{postFee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributionTime != null" >
        distribution_time = #{distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliverTime != null" >
        deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingName != null" >
        shipping_name = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null" >
        shipping_code = #{shippingCode,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metals.pojo.WjOrder" >
    update wj_order
    set uId = #{uid,jdbcType=INTEGER},
      aId = #{aid,jdbcType=INTEGER},
      payment = #{payment,jdbcType=DECIMAL},
      post_fee = #{postFee,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      distribution_time = #{distributionTime,jdbcType=TIMESTAMP},
      deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      shipping_name = #{shippingName,jdbcType=VARCHAR},
      shipping_code = #{shippingCode,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>